/blender
/clipse
/Code
/dconf
/fcitx
/go
/google-chrome
/gtk.*
/ibus
/mako
/nautilus
/procps
/pulse
/QQ
/SPlayer
/spotify
/systemd
/xdg.*
/xfce4
/mozilla
/qBittorrent
/QDirStat
user-dirs.*
*.list
*.ini  
.DS_Store
*.log
*.lock
*.swp
*.swo
*~
*.bak
*.tmp
__pycache__/

# 忽略缓存目录（很多软件不守规矩，会把缓存写在 .config 里）
Cache/
Caches/
cache/
