layout{
    focus-ring{
        active-gradient from="#c2c1ffcc" to="#eab9d2cc" angle=135
        urgent-color "#ffb4ab"

        }
}
recent-windows {    
    highlight {
        active-color "#39383f"
        urgent-color "#ffb4ab"
    }
}
